[package]
name = "nu_plugin_servo"
version = "0.1.0"
edition = "2024"

[dependencies]
scraper     = "^0.24.0"

cssparser   = "^0.35.0"
html5ever   = "^0.35.0"
markup5ever = "^0.35.0"
xml5ever    = "^0.35.0"

nu-plugin   = "0.108.0"
nu-protocol = "0.108.0"
